# This is an example environment file.
# Put your own OpenAI API key in a .env file.

OPENAI_API_KEY = "Your API Key Here"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="Your LangSmith API Key Here"
LANGSMITH_PROJECT="Your LangSmith Project Name Here"